<div class="col-md-12">
  <div class="weetup">
    <%= link_to("Edit", edit_weetup_path(@weetup), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @weetup.title %></h2>
  <p><%= @weetup.description %></p>
</div>
